@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

@Html.ActionLink("Create new board", "NewBoard", "Admin")<br />
@Html.ActionLink("Create new role", "CreateRole", "Admin")<br />
@Html.ActionLink("Manage user roles", "ManageRoles", "Admin")